body {
  background: linear-gradient(180deg, #0d1117, #020202);
  color: #e6edf3;
  font-family: "Inter", sans-serif;
}

.navbar {
  background: rgba(1, 4, 9, 0.8);
  backdrop-filter: blur(10px);
  border-bottom: 1px solid #1f2937;
}

.hero {
  padding-top: 140px;
  padding: 100px 0 60px;
  text-align: center;
}

.hero h1 {
  font-weight: 600;
  background: linear-gradient(90deg, #58a6ff, #2ea043);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.hero p {
  color: #9ca3af;
  max-width: 600px;
  margin: 15px auto;
}

.btn-main {
  background: linear-gradient(90deg, #238636, #2ea043);
  border: none;
  border-radius: 8px;
  padding: 10px 20px;
}

.section {
  padding: 40px 0; /* antes 60px */
}

.section p {
  margin-bottom: 10px;
  line-height: 1.5;
}

.section h2 {
  color: white;
  font-weight: 600;
  margin-bottom: 15px;
}

.section h6 {
  color: #f0f6fc; /* mais claro */
  font-weight: 500;
}

.text-secondary {
  color: #b3bac2 !important;
}

.badge {
  margin-right: 8px;
  padding: 8px 12px;
  border-radius: 8px;
}

.card {
  background: #161b22;
  border: 1px solid #30363d;
  border-radius: 16px;
}

footer {
  border-top: 1px solid #1f2937;
  padding: 20px;
  text-align: center;
  color: #9ca3af;
}

ul li {
  margin-bottom: 8px; /* antes 12+ */
  line-height: 1.5;
}

.carousel img {
  height: auto; /* MOSTRA A IMAGEM COMPLETA */
  max-height: 500px; /* limita altura */
  object-fit: contain; /* garante que não corta */
  background: #000;
  max-width: 1000px;
  margin: 0 auto; /* evita fundo feio */
}
